.tendence .box-one {
    transition: all 0.3s;
}
.tendence .box-one:hover {
    transform: scale(1.1);
}

.tendence .box-two{
    transition: all 0.3s;
}

.tendence .box-two:hover {
    transform: scale(1.1);
}