.tendence .box-one{
    transition: all 0.3s;
}
.tendence .box-one:hover {
    transform: scale(1.05);
}

.tendence .box-two-content-one{
    transition: all 0.3s;
}

.tendence .box-two-content-one:hover{
    transform: scale(1.05);
}
.tendence .box-two-content-two{
    transition: all 0.3s;
}

.tendence .box-two-content-two:hover{
    transform: scale(1.05);
}