*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #272727;
}

.header{
    width: 100vw;
    height: 80vh;
    background-color: black;
    background: url(/Assets/img/Img-header.jpg);
    clip-path: polygon(51% 0, 100% 0, 100% 83%, 0 75%, 0% 60%, 0 0);
}
  
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

}

ul{
    display: flex;
    padding-top: 15px;
    flex-direction: row;
    justify-content: space-evenly;
}


li a{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 31px;
    gap: 25px;

    position: absolute;
    width: 25%;
    height: 7%;
    left: 700px;
    top: 70px;

    background: rgba(39, 39, 39, 0.6);
    backdrop-filter: blur(12px);
    border-radius: 63px;
}

.logo-support{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 18px;
    position: absolute;
    right: 50px;
    top: 20px;
}

.logo-instant-gaming{
    position: absolute;
    left: 2.53%;
    right: 89.47%;
    top: 15px;
    bottom: 98.19%;
}

.title{
    position: absolute;
    left: 150px;
    top: 295px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;    
}

.prix{
    display: flex;
    background-color: orange;
    width: 20%;
    height: 25%;
}

/* ---------------Tendence------------------ */

.tendence{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 50px;
    width: 100vw;
    height: 80vh;
    /* background-color :blue; */
}

.tendence .texte{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.tendence-button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-radius: #3d3d3d;
}

.tendence-button a{
   color: white;
}

.tendence .box-one{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 30%;
    /* background-color: purple; */
}

.tendence .box-tow{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 30%;
    /* background-color: black; */
}
.tendence .box-three{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 30%;
    /* background-color: orange; */
}
