*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #272727;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-size: cover;
}

.header{
    width: 100vw;
    height: 80vh;
    background: url(/Assets/img/Img-header.jpg);
    background-repeat: repeat-x;
    clip-path: polygon(50% 0%, 100% 0, 100% 56%, 100% 100%, 0 92%, 0 0);
    background-size: cover;
}
  
.nav-bar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li{
    margin: 0 25px;
}

ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


li a{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 30vw;
    height: 7vh;
    left: 35%;
    top: 6%;
    background: rgba(39, 39, 39, 0.6);
    backdrop-filter: blur(12px);
    border-radius: 63px;
    color: white;
}

.menu-navigation .pc{
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.menu-navigation .Ps4{
    display: flex;
    justify-content: center;
}
.menu-navigation .xbox{
    display: flex;
    justify-content: center;
   
}
.menu-navigation .switch{
    display: flex;
    justify-content: center;
}

.logo-support{
    display: flex;
    flex-direction: row;
    padding-right: 90px;
}

.logo-instant-gaming{
    display: flex;
    flex-flow: row;
    padding-left: 10px;
}

.title{
    padding-top: 300px;
    padding-left: 300px;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: 700;
}

.prix {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 39vw;
    height: auto;
    line-height: 70px;
    color: #FFFFFF;
    font-size: 35px;
}

.prix span{
  width: 3vw;
  height: auto;
  background-color: #FF5400;
  font-size: 18px;
  
}

/* ---------------Tendence------------------ */

.tendence{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 40px;
    width: 100vw;
    padding-bottom: 50px;
}

.tendence .texte-tendence{
    width: 100vw;
    height: auto;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


.tendence-button a{
   color: white;
}

.tendence .box{
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.tendence .box-one{
    padding-left: 40px;
    width: 55%;
}

.tendance .box-one-promo{
    position: absolute;
    left: 50px;
}

.tendence .box-two{
   display: flex;
   flex-flow: column wrap;
   justify-content: flex-start;
   align-items: center;
}

.tendence .box-one .title-box-one{
    font-size: 25px;
    color: white;
    text-align: left;
}

.tendence .title-box-two-img-one{
    color: white;
    font-size: 25px;
    text-align: left;
    padding-bottom: 20px;
}

.tendence .title-box-two-img-two{
    color: white;
    font-size: 25px;
    text-align: left;
}

/* ------------------Partie Punchline------------------ */


.punchline{
    background-color: black;
    width: 100vw;
    height: 20vh;
}
.punchline-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.punchline-content-1{
    width: 25vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.punchline-content-logo-1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.punchline-content-logo-1 p{
   font-size: 25px;
   text-align: center;
   color: white;
}

.punchline-content-2{
    width: 25vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.punchline-content-logo-2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.punchline-content-logo-2 p{
    font-size: 25px;
    text-align: center;
    color: white;
 }
 

.punchline-content-3{
    width: 25vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.punchline-content-logo-3{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.punchline-content-logo-3 p{
    font-size: 25px;
    text-align: center;
    color: white;
 }

 .punchline-content-4{
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 20vh;
    align-items: center;
}

/* ------------------Fin Partie Punchline------------------ */



/*--------------------------Partie Avis--------------------------*/
.avis-text{
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 25px;
}
.avis-bg{
    background: url("../img/background/background.png") center center no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.avis-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.avis-line{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1%;
    padding-top: 1%;
}
.avis-box{
    color: white;
    width: 266.41px;
    height: 175px;
    background: #323232;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}
.avis-boxtext{
    padding-top: 15%;
    color: #909090;
}
.avis-boxtext2{
    padding-top: 20%;
}

/*Partie Offre/Promo*/
.promo{
    background-color: #464646;
    text-align: center;
    padding-bottom: 1%;
}
.promo-vector{
    padding-top: 1%;
    padding-bottom: 1%;
}
.promo-text1{
    color: white;
    font-weight: bold;
    padding-bottom: 1%;
}
.promo-text2{
    color: #909090;
    padding-bottom: 1%;
}
.button-box{
    padding-top: 5%;
}
.button{
    background-color: #FF5400;
    color: white;
    font-weight: bold;
    width: 154px;
    height: 37px;
    border-radius: 6px;
    border: none;
}
.pre-order{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.pre-order-1{
    display: flex;
    justify-content: center;
    color: white;
}
.pre-order-1 img{
    padding: 25px;
    height: 300px;
}

.pre-order-2{
    display: flex;
    justify-content: center;
}

.pre-order-2 img{
    padding: 25px;
    height: 300px;
}
.préco{
    display: flex;
    color:#3483FF;
    
}

/*--------------------------Partie Footer--------------------------*/
.footer{
    background-color: #101010;
    color: white;
    width: 100vw;
    height: 25vh;
}
.footer-content{
    background-color: #101010;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25vh;
}
.footer-contentleft{
    background-color: #101010;
    width: 30%;
    height: 25vh;
    padding-top: 1%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}
.footer-contentcenter{
    background-color: #101010;
    width: 30%;
    height: 25vh;
    text-align: center;
    padding-top: 1%;
}
.footer-contentright{
    background-color: #101010;
    width: 30%;
    height: 25vh;
    text-align: center;
    padding-top: 1%;
}
.instantlogo{
    padding-bottom: 10%;
}
.oslogo{
    padding-top: 10%;
}
.footer-contentcentertext{
    padding-top: 2%;
    padding-bottom: 2%;
}