*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #272727;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100vw;
    height: 60vh;
    background: url(/Assets/img/Img-header.jpg);
    background-repeat: repeat-x;
}
  
.nav-bar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li{
    margin: 0 25px;
}

ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


li a{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 30vw;
    height: 7vh;
    left: 35%;
    top: 7%;
    background: rgba(39, 39, 39, 0.6);
    backdrop-filter: blur(12px);
    border-radius: 63px;
}

.logo-support{
    display: flex;
    flex-direction: row;
    padding-right: 120px;
}

.logo-instant-gaming{
    display: flex;
    flex-flow: row;
    padding-left: 10px;
}

.title{
    padding-top: 250px;
    padding-left: 150px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;    
}

.prix {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: auto;
    line-height: 60px;
    color: #FFFFFF;
    font-size: 35px;
    
}

.prix span{
  width: 3vw;
  height: auto;
  background-color: #FF5400;
  font-size: 18px;
  
}

/* ---------------Tendence------------------ */

.tendence{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 40px;
    width: 100vw;
    padding-bottom: 50px;
}

.tendence .texte{
    width: 100vw;
    height: auto;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


.tendence-button a{
   color: white;
}



.tendence .box{
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.tendence .box-one{
    padding-left: 40px;
    width: 55%;
}

.tendence .box-two{
   display: flex;
   flex-flow: column wrap;
   justify-content: flex-start;
   align-items: center;
}

.tendence .box-one .title-box-one{
    font-size: 25px;
    color: white;
    text-align: left;
}

.tendence .title-box-two-img-one{
    color: white;
    font-size: 25px;
    text-align: left;
    padding-bottom: 20px;
}

.tendence .title-box-two-img-two{
    color: white;
    font-size: 25px;
    text-align: left;
}

/* ------------------Partie Punchline------------------ */


.punchline{
    background-color: black;
    width: 100vw;
    height: 20vh;
}
.punchline-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.punchline-content-1{
    background-color: white;
    width: 25vw;
    height: 20vh;
}
.punchline-content-2{
    background-color: beige;
    width: 25vw;
    height: 20vh;
}
.punchline-content-3{
    background-color: blue;
    width: 25vw;
    height: 20vh;
}

/* ------------------Fin Partie Punchline------------------ */



/*--------------------------Partie Avis--------------------------*/
.avis-text{
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 25px;
}
.avis-bg{
    background: url("../img/background/background.png") center center no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.avis-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.avis-com{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1%;
    padding-top: 1%;
}
.avis-box{
    color: white;
    width: 266.41px;
    height: 175px;
    background: #323232;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1%;
    padding-top: 1%;
}

/*Partie Offre/Promo*/
.promo{
    background-color: #464646;
    text-align: center;
    padding-bottom: 1%;
}
.promo-svg{
    padding-top: 1%;
    padding-bottom: 1%;
}
.promo-text1{
    color: white;
    font-weight: bold;
    padding-bottom: 1%;
}
.promo-text2{
    color: #909090;
    padding-bottom: 1%;
}
.button{
    background-color: #FF5400;
    color: white;
    font-weight: bold;
    width: 154px;
    height: 37px;
    border-radius: 6px;
    border: none;
}
.pre-order{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.pre-order-1{
    display: flex;
    justify-content: center;
    color: white;
}
.pre-order-1 img{
    padding: 25px;
    height: 300px;
}

.pre-order-2{
    display: flex;
    justify-content: center;
}

.pre-order-2 img{
    padding: 25px;
    height: 300px;
}
.préco{
    display: flex;
    color:#3483FF;
    
}
